@import '../../Styles/breakpoints.scss';

.fixture {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    align-content: center;
    padding: 24px 0;

    &__team {
        display: flex;
        flex-direction: column;
    }

    &__vs {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 120px; 
    }
}

@include for-desktop {
    .fixture {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;

        &__team {
            flex-direction: row;
        }

        &__vs {
            height: 100%;
            width: 60px;
        }
    }
}