.animated-logo {
    display: flex;
    flex-direction: column;
    width: 70px;
    position: relative;
    top: -14px;

    .football {
        max-width: 40px;
        animation: Football-up-and-down infinite 1s ease-in-out;
        align-self: flex-end;
    }

    .boot {
        max-width: 50px;
        animation: Football-boot-kick infinite 1s ease-in-out;
        align-self: flex-start;
    }
}

@keyframes Football-up-and-down {
    0% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(30px); 
    }
}

@keyframes Football-boot-kick {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}